*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", serif;
}

html{
    scroll-behavior: smooth;
}

.main_nav_bar{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
    z-index: 999;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 3px 0px 10px rgba(0,0,0,0.05);
}

#close,
#menu{
    display: none;
    font-size: 35px;
    cursor: pointer;
}

.main_nav_bar #logo img{
    width: 120px;
}

.menu_container{
    display: flex;
    align-items: center;
}

.menu_container .menu_list{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu_container .menu_list li{
    font-size: 16px;
    margin: 0 20px;
    position: relative;
}

.menu_container .menu_list .active{
    color: #EC517F;
}

.menu_container .menu_list li a.active::after{
    content: "";
    position: absolute;
    left: 50%;
    width: 30%;
    height: 3px;
    bottom: -30px;
    transform: translateX(-50%);
    border-radius: 10px;
    background: #EC517F;
}

.menu_container .menu_list li a{
    text-decoration: none;
    color: #000;
    transition: all ease 0.3s;
}

.menu_container .menu_list li a:hover{
    color: #EC517F;
}

.menu_container button{
    color: #fff;
    font-size: 16px;
    background: #EC517F;
    border: 1px solid #EC517F;
    border-radius: 3px;
    padding: 10px 20px;
    margin-left: 20px;
    transition: all ease 0.3s;
}

.menu_container button:hover{
    cursor: pointer;
    opacity: 0.9;
}

@media(max-width: 777px){
    .main_nav_bar{
        padding: 15px 5%;
    }
}

@media (max-width: 555px){
    #menu{
        display: block;
        cursor: pointer;
    }
    .menu_container{
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0px;
        top: 0;
        padding: 20px;
        background: #EC517F;
        display: block;
        opacity: 0.8;
        transition: all ease 0.5s;
        clip-path: circle(0% at 0 0);
    }
    .menu_container .menu_list{
        display: flex;
        flex-direction: column;
    }
    .menu_container .menu_list li{
        font-size: 18px;
        margin: 25px 0;
        text-align: center;
    }
    .menu_container .menu_list li a{
        color: #fff;
    }
    .menu_container .menu_list .active{
        color: #0f493b;
    }
    #close{
        position: absolute;
        right: 20px;
        top: 20px;
        display: block;
        color: #fff;
    }
    .menu_container button{
        color: #EC517F;
        width: 100%;
        font-size: 16px;
        background: #ffffff;
        border: 1px solid #EC517F;
        border-radius: 3px;
        padding: 10px 20px;
        margin-left: 0px;
        margin-top: 20px;
    }
}


/* style for about_me container */

.about_container{
    width: 100%;
}

.about_container .container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}

.about_content{
    width: 550px;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35),
    rgba(0,0,0,0.35),rgba(0,0,0,0.55)), url(images/about_me_backgroud.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.about_content h1{
    font-size: 37px;
    color: #fff;
    position: relative;
}

.about_content h1::before{
    content: "";
    width: 50%;
    height: 2px;
    bottom: -6px;
    position: absolute;
    left: 50%;
    background: #EC517F;
    transform: translate(-50%);
}

.about_text{
    margin-left: 550px;
    padding: 70px 5%;
}

.about_text p{
    font-size: 18px;
    color: #191919;
}


/* Style for Footer Section */

.footer_container{
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f1f1f1;
}

.footer_container .container p{
    font-size: 15px;
    color: #5a5a5a;
}